/* .tam{
    background-image: url("https://phongcachmoc.vn/upload/images/tin-tuc/20%20mau%20nha%20hang%20dep/update-07-2022/Sushi-World-Ton-That-Thiep-1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} */
.form{
    position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 35) 0px 5px 15px;
  padding: 10px 20px;
  background-color: white;
}
.td-form{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/* .forget{
    color: darkgrey;
    margin-left: 30%;
} */
.dk{
    width: 50%;
    margin-left: 25%;
}
.dn{
    width: 100%;
}
.cc{
    margin-left: 10%;
    display: flex;
    justify-content: center;
}
